.container {
  padding-bottom: 20px;

  .content {
      width: 400px;
      overflow: hidden;
    .picture-profile {
      border-radius: 50%;
    }
  }

  .name {
    text-transform:capitalize;
    margin-left: 65px;
  }

  .user-agent, .date {
    margin-left: 65px;
  }
  
}

.title {
  text-align: center;
}

.content {
  img {
  margin-right: 15px;
  float: left;
  }
}
